
#FAQ {
  border-radius: 20px;
  height: auto;
  padding: 10px;
}

#FAQ .container {
  color: black !important;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.faq-answer.open {
  max-height: 200px;
}
