/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Estilos del encabezado */
.App-header {
  margin-top: -5%;
  background-color: #282c34;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Estilos de secciones */
#encuentra-nuestros-locales .section,
#inicio .section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  color: aliceblue;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

#recursos,
#FAQ {

  border-radius: 20px;
  height: auto;
  padding: 10px;
}

#recursos h2 {
  font-size: 20px;
  font-weight: 650;
  color: rgb(47, 47, 47);
  margin-top: 1%;
}

#recursosh2{
  opacity: 0.9;
  margin-left: 10%;
  padding: 3px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.9);
  margin-bottom: 2%;
  border-radius: 25px;
}

#FAQ .container {
  color: black !important;
}

/* Estilos específicos para la sección de Inicio */
.section#inicio {
  margin-top: 5%;
  background: url(assets/fondoAA.jpg)no-repeat center center;
  background-size: cover;
}

.section#inicio h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.section#inicio p {
  text-shadow: #7EA8F1;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section#inicio ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.section #inicio ul li a {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color: #0366d6;
}

.section #inicio ul li a:hover {
  text-decoration: underline;
}

#ultEnlace {
  margin-top: 5%;
  font-weight: 700;
}

/* Estilos para el botón en estado hover */
button:hover {
  background-color: #45a049;
}

#BYN .container {
  background: radial-gradient(circle at center bottom, #80AAF1, #FFFFFF);
  text-align: center;
  width: 200%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  filter: brightness(90%);
  transform: scale(0.8);
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 5s ease-in-out infinite;
    /* Añadido 'infinite' para que la animación se repita */
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotateY(0deg) scale(1);
    filter: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  50% {
    transform: rotateY(180deg) scale(1.2);
    filter: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  100% {
    transform: rotateY(0deg) scale(1);
    filter: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}
